# Python / Django
.env.dev
media/
venv/
__pycache__/
*.pyc
db.sqlite3
*.log

# VS Code & IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Docker/Devcontainer
.devcontainer/
stripe.deb
stripe.tar.gz

# Node.js global (falls nötig)
node_modules/
