{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Edit Your Profile</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color:red;">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  
    <button type="submit" class="btn btn-success" name="submit_btn"> Save</button>
  </form>

  <!-- Optional link below the form -->
  <a href="{% url 'shop:product_list' %}" class="btn btn-secondary mt-3">Back to Shop</a>
</div>
{% endblock %}
